Package: velluscinum-cli
Version: 24.12.16
Maintainer: chon@grupo.cefet-rj.br
Architecture: all
Pre-depends: openjdk-21-jdk | temurin-21-jdk
Description: Velluscinum: A middleware for BigchainDB
Installed-Size: 30720

