Package: velluscinum-cli
Version: 24.8.27
Maintainer: chon@grupo.cefet-rj.br
Architecture: all
Pre-depends: openjdk-17-jre | temurin-17-jre
Description: Velluscinum: A middleware for BigchainDB
Installed-Size: 29696

